
module gluster-wes 1.0;

require {
	type httpd_t;
	type fusefs_t;
	class dir { search getattr };
}

#============= httpd_t ==============
allow httpd_t fusefs_t:dir { search getattr };
