# When built from RPM, the below version of "0.0.0" will be 
# replaced with the version in the spec file
policy_module(report-server,0.0.0)
require {
    type httpd_t;
}


